<%- include('./includes/head.ejs') %>
          <div class="info-head">
            <span class="info-head__name"><%= user.name %></span>
            <img src="<%= user.image %>" alt="<%= user.name %>" class="info-head__avatar">
            <div class="info-head__date">
              <div class="head-date">
                <span class="head-date__number">Chức vụ</span>
                <div class="head-date__text"><%= user.role == 'manager' ? "Quản Lí" : "Nhân Viên" %></div>
              </div>
            </div>
          </div>
          <% if(user.role == 'user') { %>
            <div class="info-status">
              <h2 class="title">Trạng Thái</h2>
              <% if(!status.isWorking){ %>
                <div class="info-status__icon stop">
                </div>
                <div class="info-status__text stop">
                  <span>Không làm việc</span>
                </div>
              <% } else { %>
                <div class="info-status__icon working">
                </div>
                <div class="info-status__text working">
                  <span>Đang làm việc</span>
                </div>
              <% } %>
              <h2 class="title">Nơi làm việc</h2>
                <div class="info-status__text <%= status.isWorking ? 'working': 'stop' %>">
                  <span><%= status.workplace %></span>
                </div>
            </div>
          <% } %>
          <% if(error) { %>
            <div class="prevent-toast">
              <div class="prevent-toast__content">
                <div class="prevent-toast__text">
                  <span>Bạn đang ở trong khu vực không thể điều chỉnh</span>
                </div>
                <div class="prevent-toast__icon">
                  <img src="../assets/images/error.png" alt="warning">
                </div>
              </div>
            </div>
          <% } %>
      </div>
      
    </div>
    
<%- include('./includes/footer.ejs') %>
